<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Testing Audio</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
    <script src="pow.min.js"></script>
  </head>
  <body ng-app="pow-demo" ng-controller="AudioCtrl">
  <div>
    <input type="text" ng-model="data.text">
    <!-- <select ng-model="selectedItem" placeholder="Choose Player" flex>
      <option ng-value="item" ng-repeat="item in items">{{item}}</option>
    </select> -->
    <button ng-click="update(0)">Update Player 1</button>
    <button ng-click="update(1)">Update Player 2</button>
    <pow data-playernumber='0' data-array-buffer="data.loadBuffers[0]"></pow>
    <pow data-playernumber='1' data-array-buffer="data.loadBuffers[1]"></pow>
    <script src="app.js"></script>
    <script src="controller.js"></script>
    <script src="factory.js" charset="utf-8"></script>
</div>
</body>
<body ng-app="pow-demo" ng-controller="AudioCtrl">
</html>
