<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Testing Audio</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
    <script src="pow.min.js"></script>
  </head>
  <body ng-app="pow-demo" ng-controller="AudioCtrl">
    <input type="text" ng-model="data.text">
    <button ng-click="update()">Update</button>
    <pow data-array-buffer="data.arrayBuffer"></pow>
    <script src="app.js"></script>
    <script src="controller.js"></script>
    <script src="factory.js" charset="utf-8"></script>
  </body>
</html>
