<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Testing Audio</title>
    <link rel="stylesheet" href="main.css" media="screen" title="no title" charset="utf-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
    <script src="https://use.fontawesome.com/ae3b95e57e.js"></script>
    <script src="toWav.js"></script>
  </head>
  <body ng-app="pow" ng-controller="AudioCtrl">
    <input type="text" ng-model="data.text">
    <button ng-click="update()">Update</button>
    <pow data-array-buffer="data.arrayBuffer"></pow>
    <script src="index.js"></script>
    <script src="factory.js"></script>
    <script src="controller.js"></script>
  </body>
</html>
